Función_1. Carga los archivos con extensiones .csv y .xlsx y los convierte a dataframe, si es un  archivo con cualquier otra extensión, emitirá el raise (“Este formato no esta soportado para esta función: .formato”)

Función_2. Sustituye los valores nulos de las variables pares numéricas con el método “mean” y de las impares numéricas con la constante “99”. Las columnas que no sean de tipo numérico se sustituirán con el string “Este_es_un_valor_nulo”

Función_3. Identifica los valores nulos “por columna” y “por dataframe”

Función_4. Sustituye  los valores atípicos de las columnas numéricas con el método de “Rango intercuartílico”

Crear el archivo de la libreria con extension (“.py”), y generar un archivo de llamado de las 4 funciones en Google COLAB o en Visual Studio Code, respaldar ambos scripts (“funciones.py” y “llamado_de_funciones.ipynb”) en GitHub, y agregar el archivo .csv del dataframe final procesado.
Subir el link del repositorio en CANVAS para “Evaluación”

In [4]:
import Emily as ems

In [5]:
#Función 1
df = ems.cargar_dataset('HongKong_China_Data.csv')
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [6]:
#Funcion 2
CHINA = ems.sustituir_valores_nulos(df)
CHINA

c:\Users\B_3mi\Downloads\Analítica de Datos\Prof. Alfredo\Actividad_6.1\Emily.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columna].fillna("Este_es_un_valor_nulo", inplace=True)
c:\Users\B_3mi\Downloads\Analítica de Datos\Prof. Alfredo\Actividad_6.1\Emily.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columna].fillna(99, inplace=True)
c:\Users\B_3mi\Downloads\Analítica de Datos\Prof. Alfredo\Actividad_6.1\Emily.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columna].fillna(df[columna].mean(), inplace=True)

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.470000,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.900000,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,Este_es_un_valor_nulo,f,The Peak,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,f,1,0,1,0,99.00
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.770000,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.250000,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,f,34,14,19,1,99.00
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,f,Mid-Levels,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,f,1,1,0,0,99.00
6715,city scrape,667730514,James John,19/12/2024,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,f,Wong Chuk Hang,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,t,1,1,0,0,99.00
6716,city scrape,280827591,Iryna,31/07/2019,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,f,Sai Wan,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,f,1,0,1,0,99.00
6717,city scrape,668016531,佩涛,20/12/2024,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,f,Yau Ma Tei,...,Este_es_un_valor_nulo,Este_es_un_valor_nulo,4.549218,99.00,f,1,0,1,0,99.00

In [7]:
#Funcion 3
CHINA = ems.cuenta_valores_nulos(df)
CHINA

('Valores nulos por columna',
 source                                          0
 host_id                                         0
 host_name                                       0
 host_since                                      0
 host_location                                   0
 host_response_time                              0
 host_response_rate                              0
 host_acceptance_rate                            0
 host_is_superhost                               0
 host_neighbourhood                              0
 host_total_listings_count                       0
 host_verifications                              0
 host_has_profile_pic                            0
 host_identity_verified                          0
 neighbourhood                                   0
 neighbourhood_cleansed                          0
 property_type                                   0
 room_type                                       0
 accommodates                                    0
 bathrooms                                       0
 bathrooms_text                                  0
 bedrooms                                        0
 beds                                            0
 amenities                                       0
 price                                           0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 first_review                                    0
 last_review                                     0
 review_scores_rating                            0
 review_scores_accuracy                          0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 reviews_per_month                               0
 dtype: int64,
 'Valores nulos por dataframe',
 0)

In [10]:
df.to_csv("China_Procesado.csv")